<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>채팅방목록</title>
</head>
<body>
<h1>채팅방 목록</h1>
<p>현재 유저명: <td th:text="${currentUser.nickname}">default</td> </p>
<p>현재 유저 이메일: <td th:text="${currentUser.email}">default</td> </p>
<input type="hidden" id="currentUserId" th:value="${currentUser.id}">
<table border="1">
    <tr>
        <th>ID</th>
        <th>프로필사진</th>
        <th>유저명</th>
        <th>유저 이메일</th>
        <th>채팅방 입장</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">-</td>
        <td>
            <img th:src="@{${user.profileImg}}" alt="프사 등록 안함" style="width: 80px; height: 80px;" />
        </td>
        <td th:text="${user.nickname}">-</td>
        <td th:text="${user.email}">-</td>
        <td>
            <button type="button" class="enter-chat-btn" th:data-opponent-id="${user.id}">입장</button>
        </td>
    </tr>
</table>
<button type="button" class="btn btn-secondary" id="logout-btn">로그아웃</button>

<script src="/js/token.js"></script>
<script src="/js/chat.js"></script>
</body>
</html>