<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat Room</title>
</head>
<body>
<p>채팅룸 아이디: <td th:text="${chatRoomId}">default</td> </p>
<h2>Chat Room</h2>
<textarea id="messages" rows="10" cols="50" readonly></textarea><br>
<input id="messageInput" type="text">
<button onclick="sendMessage()">Send Message</button>

<script src="/js/chat.js"></script>
<script>
    const token = localStorage.getItem('access_token');
    const chatRoomId = '[[${chatRoomId}]]';
    const currentUserId = '[[${currentUser.id}]]';

<!--  위:배포 / 아래:로컬  -->
<!--    const ws = new WebSocket(`ws://springboot-developer-env.eba-tb7bgpjh.ap-northeast-2.elasticbeanstalk.com/ws/chat?chatRoomId=${chatRoomId}`);-->
    const ws = new WebSocket(`ws://localhost:8080/ws/chat?chatRoomId=${chatRoomId}`);

    ws.onopen = () => {
        console.log('WebSocket connection established');
        document.getElementById('messages').value += 'WebSocket connection established\n';

        // 입장 메시지 전송
        ws.send(JSON.stringify({
            chatRoomId: chatRoomId,
            messageType: 'ENTER',
            message: `someone joined the chat`,
            senderId: currentUserId
        }));
    };

    ws.onmessage = (event) => {
        console.log('Message from server:', event.data);

        // 수신한 메시지를 파싱
        const messageData = JSON.parse(event.data);

        // messageType이 ENTER인 경우 출력하지 않음
        if (messageData.messageType === 'ENTER') {
            return;
        }

        // 메시지를 {senderId}: {message} 형식으로 출력
        document.getElementById('messages').value += `${messageData.senderId}: ${messageData.message}\n`;

<!--         // 수신한 메시지를 파싱-->
<!--        const messageData = JSON.parse(event.data);-->

<!--        // 지난 채팅 내역 또는 새로운 메시지 출력-->
<!--        if (messageData.sender) {  // sender가 있다면 이 메시지는 지난 채팅 내역이거나 새로운 메시지-->
<!--            document.getElementById('messages').value += `${messageData.sender}: ${messageData.message}\n`;-->
<!--        } else {-->
<!--            document.getElementById('messages').value += 'Message from server: ' + messageData + '\n';-->
<!--        }-->
    };

    ws.onclose = () => {
        console.log('WebSocket connection closed');
        document.getElementById('messages').value += 'WebSocket connection closed\n';
    };

    function sendMessage() {
        const message = document.getElementById('messageInput').value;
        ws.send(JSON.stringify({
            chatRoomId: chatRoomId,
            messageType: 'TALK',
            message: message,
            senderId: currentUserId
        }));
        document.getElementById('messageInput').value = '';
    }
</script>
</body>
</html>