<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
login 페이지로 연결되는지 테스트

<form action="/users/login" method="POST">
    <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
    <label>Email address</label>
    <input type="email" name="username">
    <label>Password</label>
    <input type="password" name="password">
    <button type="submit">Submit</button>
</form>
<button type="button" onclick="location.href='/users/signup'">회원가입</button>

</body>
</html>