<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
signup 페이지로 연결되는지 테스트

<form th:action="@{/users/signup}" method="POST" enctype="multipart/form-data">
    <label>Email address</label>
    <input type="email" name="email"><br>
    <label>Password</label>
    <input type="password" name="password"><br>
    <label>Nickname</label>
    <input type="text" name="nickname"><br>
    <label>Profile Image</label>
    <input type="file" name="profileImg"><br>
    <button type="submit">Submit</button>
</form>

</body>
</html>